<p id="notice">
    <%= notice %>
</p>

<table>
    <tr>
        <td class="flex">
            <p>
                <strong>Title</strong>
                <%= @book.title %><
            </p>
        </td>
        <td class="flex">
            <p>
                <strong>Body</strong>
                <%= @book.body %>
            </p>
        </td>
    </tr>
</table>

<%= link_to "edit", edit_book_path(@book) %>
<%= link_to "Back", books_path %>